@model Racecar_Tracker_By_UherkaMotorsports.Models.Crew

@{
    ViewData["Title"] = "Create";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1>Create</h1>

<h4>Crew</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Create">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="Nights" class="control-label"></label>
                <input asp-for="Nights" class="form-control" />
                <span asp-validation-for="Nights" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Tires" class="control-label"></label>
                <input asp-for="Tires" class="form-control" />
                <span asp-validation-for="Tires" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Springs" class="control-label"></label>
                <input asp-for="Springs" class="form-control" />
                <span asp-validation-for="Springs" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Create" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
